<h1>Listing matches</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player_1.email %></td>
        <td><%= match.player_2.email %></td>
        <td><%= match.winner.email %></td>

        <td>
          <div class="pull-right">
            <%= link_to match, :class => 'btn btn-default btn-xs' do %>
              <span class="glyphicon glyphicon-zoom-in"></span> Show
            <% end -%>
            <%= link_to edit_match_path(match), :class => 'btn btn-default btn-xs' do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end -%>
            <%= link_to match_path(match), method: :delete, :class => 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove"></span> Delete
            <% end -%>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_match_path, :class => 'btn btn-default btn-xs' do %>
  <span class="glyphicon glyphicon-plus"></span> New Match
<% end -%>
